
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<h3 align="center"><b>Xác nhận đơn hàng</b></h3>
<br />
<br />
<h4>
    Đơn hàng của quý khách đã được chúng tôi ghi nhận,
    chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất
    và giao hàng đúng hẹn
</h4>
<br />
<div style="text-align:center">
    <a href="~/ShopTheThao/Index" class="primary-btn cart-btn">Tiếp tục mua</a>
</div>





